<div id="event-<%= event.id %>">
  <% if event.error.present? %>
    Error: <%= show(event.error_message).html_safe %>
    </br>
    Backtrace: <%= event.error_backtrace.join("</br>").html_safe %>
  <% end %> 
  <%= show(event.data).html_safe %>
</div>