---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"79f19c30-d743-47ab-8814-47958675d136","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"537be5a4-4422-4c45-a931-f1beef38ab9e","refresh_expires_in":1209600,"download_token":"2546cbfe-d6e7-4947-92be-58376baefa2b"}'
  recorded_at: Wed, 15 Sep 2021 18:23:53 GMT
recorded_with: VCR 6.0.0
