---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"f33b9ab8-2b39-4c43-acdc-cd1d67c3e90c","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"e2387d65-a7f9-4646-a900-966d29802e67","refresh_expires_in":1209600,"download_token":"85118f98-d7dc-4710-83bc-58c2a9364ebb"}'
  recorded_at: Mon, 13 Sep 2021 20:25:29 GMT
recorded_with: VCR 6.0.0
