---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"bbef286c-89b1-4754-81d9-5da37e301779","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"1ad4d49a-ee9a-47ac-81f1-f3232436a6c1","refresh_expires_in":1209600,"download_token":"c8b96c49-7018-42ab-ac5d-2d8e4942eeb5"}'
  recorded_at: Thu, 16 Sep 2021 16:39:34 GMT
recorded_with: VCR 6.0.0
