---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"12318fbd-d9b0-4bbc-802c-c998bcbfacff","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"29912bc9-a845-4c23-837f-56f1018fde77","refresh_expires_in":1209600,"download_token":"9296f8f4-1d55-4aae-93b2-1184e9716a87"}'
  recorded_at: Mon, 13 Sep 2021 12:53:29 GMT
recorded_with: VCR 6.0.0
