---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"0dae6dd8-d964-4bc1-868a-5a9b2d240fc5","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"88963227-39dc-4de1-a951-8357cc6ccd65","refresh_expires_in":1209600,"download_token":"93bcf5b3-4e61-4eb8-a18d-18fb47e84624"}'
  recorded_at: Sun, 19 Sep 2021 00:14:31 GMT
recorded_with: VCR 6.0.0
