---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"d185ec62-f696-4cd7-abe7-57dad514b57f","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"01e7b6b0-3b5d-4dbc-8f56-60149fcc668a","refresh_expires_in":1209600,"download_token":"abd5123e-e576-48d0-8703-8b47fb273101"}'
  recorded_at: Wed, 15 Sep 2021 22:47:26 GMT
recorded_with: VCR 6.0.0
