---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"6065d97a-884c-4c5b-a0cf-aa117037c9e1","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"f765d459-faf5-42c4-b855-314d4595b5d8","refresh_expires_in":1209600,"download_token":"2924f131-1b2b-48df-b699-2d1221aecf7b"}'
  recorded_at: Mon, 04 Oct 2021 20:04:57 GMT
recorded_with: VCR 6.0.0
