---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"4a735a47-2158-4038-9a4f-db7b261a33a5","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"44109e2a-6c34-46cb-9a89-7ec115c6b0f9","refresh_expires_in":1209600,"download_token":"be718162-0c28-4234-bce7-ddfb2c3abff6"}'
  recorded_at: Mon, 04 Oct 2021 17:23:28 GMT
recorded_with: VCR 6.0.0
