---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"93234924-5d4e-4eac-a9b2-6a50995f129b","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"7cef7624-5b1a-4614-9e40-e7626be8ca4a","refresh_expires_in":1209600,"download_token":"3d932d19-d497-47f0-92ec-aa3eb35559ea"}'
  recorded_at: Tue, 21 Sep 2021 20:11:49 GMT
recorded_with: VCR 6.0.0
