---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"21ec24cc-1171-4aff-87de-d47ba04e13c1","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"ab38e436-4858-4882-a833-38db11dd28d2","refresh_expires_in":1209600,"download_token":"3ef94999-bc46-4c78-85f6-51a306bdf8d7"}'
  recorded_at: Tue, 14 Sep 2021 18:39:27 GMT
recorded_with: VCR 6.0.0
