---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"8d8beb04-5d01-44b0-9873-20601d75cd0b","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"ee5f4603-7801-42c4-adec-e968bf58f0a1","refresh_expires_in":1209600,"download_token":"3ae1805e-267c-4fd5-9086-b078b7fa7efe"}'
  recorded_at: Mon, 04 Oct 2021 20:24:39 GMT
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"a95878c60b424759935bca542832d5b7","name":"John Jacob","email1":"example1@example.com","dob_c":"1981-09-14","billing_address_street":"1111
        Awesome Street NE","billing_address_street_2":"#111","billing_address_street_3":"","billing_address_street_4":null,"billing_address_city":"Washington","billing_address_postalcode":"01001","billing_address_state":"DC","phone_office":"2021030404","ssn":"768252862"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8d8beb04-5d01-44b0-9873-20601d75cd0b
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"19c52984-2551-11ec-93ba-0241d1fb84dd","name":"John Jacob","date_entered":"2021-10-04T16:24:39-04:00","date_modified":"2021-10-04T16:24:39-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"facebook":"","twitter":"","googleplus":"","account_type":"","industry":"","annual_revenue":"","phone_fax":"","billing_address_street":"1111
        Awesome Street NE\n#111","billing_address_street_2":"","billing_address_street_3":"","billing_address_street_4":"","billing_address_city":"Washington","billing_address_state":"DC","billing_address_postalcode":"01001","billing_address_country":"","rating":"","phone_office":"2021030404","phone_alternate":"","website":"","ownership":"","employees":"","ticker_symbol":"","shipping_address_street":"","shipping_address_street_2":"","shipping_address_street_3":"","shipping_address_street_4":"","shipping_address_city":"","shipping_address_state":"","shipping_address_postalcode":"","shipping_address_country":"","service_level":"","parent_id":"","sic_code":"","duns_num":"","parent_name":"","member_of":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"campaign_id":"","campaign_name":"","campaign_accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"next_renewal_date":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example1@example.com","invalid_email":false,"opt_out":false,"email_address_id":"3f48f0fa-163d-11ec-ae61-0241d1fb84dd","primary_address":true,"reply_to_address":false}],"email1":"example1@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","raw_ssn_c":"","last_ea_action_at_c":"","dob_c":"1981-09-14","broker_c":"","next_best_action_c":"","hbxid_c":"a95878c60b424759935bca542832d5b7","last_ea_action_c":"","enroll_account_link_c":"","ssn_c":"XXX-XX-","opt_out_of_emails_c":false,"_acl":{"fields":{}},"_module":"Accounts"}'
  recorded_at: Mon, 04 Oct 2021 20:24:40 GMT
[...]
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"a95878c60b424759935bca542832d5b7","first_name":"John","last_name":"Jacob","phone_mobile":"2021030404","email1":"example1@example.com","account.id":"19c52984-2551-11ec-93ba-0241d1fb84dd"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer d7c0baea-fa0a-4a96-9383-d0496130cfec
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"1a7d183c-2551-11ec-bda8-0241d1fb84dd","name":"John Jacob","date_entered":"2021-10-04T16:24:40-04:00","date_modified":"2021-10-04T16:24:40-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"salutation":"","first_name":"John","last_name":"Jacob","full_name":"John
        Jacob","title":"","facebook":"","twitter":"","googleplus":"","department":"","do_not_call":false,"phone_home":"","phone_mobile":"2021030404","phone_work":"","phone_other":"","phone_fax":"","primary_address_street":"","primary_address_street_2":"","primary_address_street_3":"","primary_address_city":"","primary_address_state":"","primary_address_postalcode":"","primary_address_country":"","alt_address_street":"","alt_address_street_2":"","alt_address_street_3":"","alt_address_city":"","alt_address_state":"","alt_address_postalcode":"","alt_address_country":"","assistant":"","assistant_phone":"","picture":"","email_and_name1":"","lead_source":"","account_name":"","accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"account_id":"","dnb_principal_id":"","opportunity_role_fields":"","opportunities":{"id":""},"opportunity_role_id":"","opportunity_role":"","reports_to_id":"","report_to_name":"","reports_to_link":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"birthdate":"","portal_name":"","portal_active":false,"portal_password":null,"portal_password1":null,"portal_app":"","portal_user_company_name":"","preferred_language":"","cookie_consent":false,"cookie_consent_received_on":"","business_center_name":"","business_centers":{"name":"","id":"","_acl":{"fields":[],"access":"no","view":"no","list":"no","edit":"no","delete":"no","import":"no","export":"no","massupdate":"no","_hash":"3fd204ac1b6d951752c529c51f978bc3"}},"business_center_id":"","dp_business_purpose":[],"dp_consent_last_updated":"2021-10-04","campaign_id":"","campaign_name":"","campaign_contacts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"c_accept_status_fields":"","calls":{"id":""},"m_accept_status_fields":"","meetings":{"id":""},"accept_status_id":"","accept_status_name":"","accept_status_calls":"","accept_status_meetings":"","sync_contact":false,"mkto_sync":false,"mkto_id":null,"mkto_lead_score":null,"entry_source":"internal","site_user_id":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example1@example.com","invalid_email":false,"opt_out":false,"email_address_id":"3f48f0fa-163d-11ec-ae61-0241d1fb84dd","primary_address":true,"reply_to_address":false}],"email1":"example1@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","gender_c":"male","relationship_c":"","hbxid_c":"a95878c60b424759935bca542832d5b7","_acl":{"fields":{}},"_module":"Contacts"}'
  recorded_at: Mon, 04 Oct 2021 20:24:41 GMT
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?filter%5B%5D%5Bhbxid_c%5D=a95878c60b424759935bca542832d5b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 615e4d1a-2305-4bdd-8cf1-38931edc7fca
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - e46c602f9e116e554a335000a0b1b3aa
    body:
      encoding: UTF-8
      string: '{"next_offset":20,"records":[{"id":"19c52984-2551-11ec-93ba-0241d1fb84dd","name":"John
        Jacob","date_entered":"2021-10-04T16:24:39-04:00","date_modified":"2021-10-04T16:24:39-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf7806[...]
[...]
- request:
    method: put
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts/19c52984-2551-11ec-93ba-0241d1fb84dd
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"a95878c60b424759935bca542832d5b7","name":"Doe John","email1":"example3@example.com","billing_address_street":"1119
        Awesome Street NE","billing_address_street_2":"#119","billing_address_street_3":"","billing_address_street_4":null,"billing_address_city":"Washington","billing_address_postalcode":"01001","billing_address_state":"DC","phone_office":"(202)
        111-1119","rawssn_c":"775481172","raw_ssn_c":"775481172","dob_c":"1972-04-04","enroll_account_link_c":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer b1923a2c-654b-427e-a454-24fce388411a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"19c52984-2551-11ec-93ba-0241d1fb84dd","name":"Doe John","date_entered":"2021-10-04T16:24:39-04:00","date_modifi[...]
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts?filter%5B%5D%5Bhbxid_c%5D=a95878c60b424759935bca542832d5b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f4b7ac8b-8b2f-46c2-bbd6-f11badf28c58
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - '082ef2b96af3a8570ca443412a7e7fe1'
    body:
      encoding: UTF-8
      st[...]
[...]
- request:
    method: put
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts/1a7d183c-2551-11ec-bda8-0241d1fb84dd
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"a95878c60b424759935bca542832d5b7","first_name":"Doe","last_name":"John","phone_mobile":"(202)
        111-1119","email1":"example3@example.com","birthdate":"1972-04-04","relationship_c":"Self","account_id":"19c52984-2551-11ec-93ba-0241d1fb84dd"}'
    headers:
      Content-Type:
      - application/json
      A[...]
[...]
