---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"0bee6be6-dc27-4fe2-8cb5-d4015ae2b3e1","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"48a8bc7b-9c8a-44ed-8094-78ebbe343ccb","refresh_expires_in":1209600,"download_token":"e642aa03-fb2d-4192-8e13-a5422919977a"}'
  recorded_at: Sun, 19 Sep 2021 00:14:48 GMT
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","name":"John Jacob","email1":"example1@example.com","dob_c":"1981-09-14","billing_address_street":"1111
        Awesome Street NE","billing_address_street_2":"#111","billing_address_street_3":"","billing_address_street_4":null,"billing_address_city":"Washington","billing_address_postalcode":"01001","billing_address_state":"DC","phone_office":"2021030404"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 0bee6be6-dc27-4fe2-8cb5-d4015ae2b3e1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"9a2aea84-18de-11ec-a018-0241d1fb84dd","name":"John Jacob","date_entered":"2021-09-18T20:14:48-04:00","date_modified":"2021-09-18T20:14:48-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"facebook":"","twitter":"","googleplus":"","account_type":"","industry":"","annual_revenue":"","phone_fax":"","billing_address_street":"1111
        Awesome Street NE\n#111","billing_address_street_2":"","billing_address_street_3":"","billing_address_street_4":"","billing_address_city":"Washington","billing_address_state":"DC","billing_address_postalcode":"01001","billing_address_country":"","rating":"","phone_office":"2021030404","phone_alternate":"","website":"","ownership":"","employees":"","ticker_symbol":"","shipping_address_street":"","shipping_address_street_2":"","shipping_address_street_3":"","shipping_address_street_4":"","shipping_address_city":"","shipping_address_state":"","shipping_address_postalcode":"","shipping_address_country":"","service_level":"","parent_id":"","sic_code":"","duns_num":"","parent_name":"","member_of":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"campaign_id":"","campaign_name":"","campaign_accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"next_renewal_date":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example1@example.com","invalid_email":false,"opt_out":false,"email_address_id":"3f48f0fa-163d-11ec-ae61-0241d1fb84dd","primary_address":true,"reply_to_address":false}],"email1":"example1@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","raw_ssn_c":"","last_ea_action_at_c":"","dob_c":"1981-09-14","broker_c":"","next_best_action_c":"","hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","last_ea_action_c":"","enroll_account_link_c":"","ssn_c":"XXX-XX-","_acl":{"fields":{}},"_module":"Accounts"}'
  recorded_at: Sun, 19 Sep 2021 00:14:49 GMT
[...]
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","first_name":"John","last_name":"Jacob","phone_mobile":"2021030404","email1":"example1@example.com","account.id":"9a2aea84-18de-11ec-a018-0241d1fb84dd"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 985abffc-56bd-42ce-a27d-66371bb0b26b
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"9ad2f8b4-18de-11ec-a154-0241d1fb84dd","name":"John Jacob","date_entered":"2021-09-18T20:14:50-04:00","date_modified":"2021-09-18T20:14:50-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"salutation":"","first_name":"John","last_name":"Jacob","full_name":"John
        Jacob","title":"","facebook":"","twitter":"","googleplus":"","department":"","do_not_call":false,"phone_home":"","phone_mobile":"2021030404","phone_work":"","phone_other":"","phone_fax":"","primary_address_street":"","primary_address_street_2":"","primary_address_street_3":"","primary_address_city":"","primary_address_state":"","primary_address_postalcode":"","primary_address_country":"","alt_address_street":"","alt_address_street_2":"","alt_address_street_3":"","alt_address_city":"","alt_address_state":"","alt_address_postalcode":"","alt_address_country":"","assistant":"","assistant_phone":"","picture":"","email_and_name1":"","lead_source":"","account_name":"","accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"account_id":"","dnb_principal_id":"","opportunity_role_fields":"","opportunities":{"id":""},"opportunity_role_id":"","opportunity_role":"","reports_to_id":"","report_to_name":"","reports_to_link":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"birthdate":"","portal_name":"","portal_active":false,"portal_password":null,"portal_password1":null,"portal_app":"","portal_user_company_name":"","preferred_language":"","cookie_consent":false,"cookie_consent_received_on":"","business_center_name":"","business_centers":{"name":"","id":"","_acl":{"fields":[],"access":"no","view":"no","list":"no","edit":"no","delete":"no","import":"no","export":"no","massupdate":"no","_hash":"3fd204ac1b6d951752c529c51f978bc3"}},"business_center_id":"","dp_business_purpose":[],"dp_consent_last_updated":"2021-09-18","campaign_id":"","campaign_name":"","campaign_contacts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"c_accept_status_fields":"","calls":{"id":""},"m_accept_status_fields":"","meetings":{"id":""},"accept_status_id":"","accept_status_name":"","accept_status_calls":"","accept_status_meetings":"","sync_contact":false,"mkto_sync":false,"mkto_id":null,"mkto_lead_score":null,"entry_source":"internal","site_user_id":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example1@example.com","invalid_email":false,"opt_out":false,"email_address_id":"3f48f0fa-163d-11ec-ae61-0241d1fb84dd","primary_address":true,"reply_to_address":false}],"email1":"example1@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","gender_c":"male","relationship_c":"","hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","_acl":{"fields":{}},"_module":"Contacts"}'
  recorded_at: Sun, 19 Sep 2021 00:14:50 GMT
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts?filter%5B%5D%5Bhbxid_c%5D=aa918614ae014d42bb8547a1ae5734e1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b43e69ef-d75d-4ba8-8b9c-ddb6e69c920b
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 59e787eaad136a23b15e7e74692a4bcb
    body:
      encoding: UTF-8
      string: '{"next_offset":20,"records":[{"id":"9ad2f8b4-18de-11ec-a154-0241d1fb84dd","name":"John
        Jacob","date_entered":"2021-09-18T20:14:50-04:00","date_modified":"2021-09-18T20:14:50-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf7806[...]
