---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"40b90201-0fa5-4d6c-b7b1-a36b00877daa","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"71996228-92c8-4c69-9c7f-2b475d17d4d3","refresh_expires_in":1209600,"download_token":"4e53660b-f3ba-408e-bf31-a00c358b5758"}'
  recorded_at: Mon, 04 Oct 2021 17:23:18 GMT
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?filter%5B%5D%5Bhbxid_c%5D=zzjkdlf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 40b90201-0fa5-4d6c-b7b1-a36b00877daa
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 5d0cf03cd35880151b2f59eae817b564
    body:
      encoding: UTF-8
      string: '{"records":[],"next_offset":-1}'
  recorded_at: Mon, 04 Oct 2021 17:23:18 GMT
recorded_with: VCR 6.0.0
