---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"f2b4ba91-67a3-4317-9f2d-6f832d3f941d","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"94c2ad52-b087-4641-991a-db808e0f15f9","refresh_expires_in":1209600,"download_token":"0371c6f7-04b8-4800-8b6d-5e3a3cd837d8"}'
  recorded_at: Sun, 19 Sep 2021 00:14:22 GMT
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?filter%5B%5D%5Bhbxid_c%5D=zzjkdlf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f2b4ba91-67a3-4317-9f2d-6f832d3f941d
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 5d0cf03cd35880151b2f59eae817b564
    body:
      encoding: UTF-8
      string: '{"records":[],"next_offset":-1}'
  recorded_at: Sun, 19 Sep 2021 00:14:22 GMT
recorded_with: VCR 6.0.0
