---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"c3502d71-2275-40a2-99eb-63a5febc4ae1","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"56318fc9-3f6c-446a-aff4-55f0c0e2d3d9","refresh_expires_in":1209600,"download_token":"0deefd7b-1b8e-44e9-ab87-9af4f912e26a"}'
  recorded_at: Mon, 04 Oct 2021 20:05:25 GMT
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?filter%5B%5D%5Bhbxid_c%5D=100z01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c3502d71-2275-40a2-99eb-63a5febc4ae1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 7b98d3f8af31f78a5eb0663a67ee0359
    body:
      encoding: UTF-8
      string: '{"next_offset":-1,"records":[{"id":"776d2280-1bb0-11ec-ab3a-0241d1fb84dd","name":"Doe
        John","date_entered":"2021-09-22T10:22:07-04:00","date_modified":"2021-10-04T13:23:58-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"facebook":"","twitter":"","googleplus":"","account_type":"","industry":"","annual_revenue":"","phone_fax":"","billing_address_street":"1119
        Awesome Street NE\n#119","billing_address_street_2":"","billing_address_street_3":"","billing_address_street_4":"","billing_address_city":"Washington","billing_address_state":"DC","billing_address_postalcode":"01001","billing_address_country":"","rating":"","phone_office":"(202)
        111-1119","phone_alternate":"","website":"","ownership":"","employees":"","ticker_symbol":"","shipping_address_street":"","shipping_address_street_2":"","shipping_address_street_3":"","shipping_address_street_4":"","shipping_address_city":"","shipping_address_state":"","shipping_address_postalcode":"","shipping_address_country":"","service_level":"","parent_id":"","sic_code":"","duns_num":"","parent_name":"","member_of":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"campaign_id":"","campaign_name":"","campaign_accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"next_renewal_date":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example3@example.com","primary_address":true,"reply_to_address":false,"invalid_email":false,"opt_out":false,"email_address_id":"4b2c2722-18de-11ec-8761-0241d1fb84dd"}],"email1":"example3@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","raw_ssn_c":"","last_ea_action_at_c":"","dob_c":"1972-04-04","broker_c":"","next_best_action_c":"","hbxid_c":"100z01","last_ea_action_c":"","enroll_account_link_c":"","ssn_c":"XXX-XX-","opt_out_of_emails_c":false,"_acl":{"fields":{}},"_module":"Accounts"}]}'
  recorded_at: Mon, 04 Oct 2021 20:05:25 GMT
[...]
- request:
    method: put
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts/776d2280-1bb0-11ec-ab3a-0241d1fb84dd
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"100z01","name":"Doe John","email1":"example3@example.com","billing_address_street":"1119
        Awesome Street NE","billing_address_street_2":"#119","billing_address_street_3":"","billing_address_street_4":null,"billing_address_city":"Washington","billing_address_postalcode":"01001","billing_address_state":"DC","phone_office":"(202)
        111-1119","rawssn_c":null,"raw_ssn_c":null,"dob_c":"1972-04-04","enroll_account_link_c":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 0f468ae2-3f1f-40ba-a6ee-3f4215927b91
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"776d2280-1bb0-11ec-ab3a-0241d1fb84dd","name":"Doe John","date_entered":"2021-09-22T10:22:07-04:00","date_modified":"2021-10-0[...]
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts?filter%5B%5D%5Bhbxid_c%5D=100z01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ac12c221-e386-423e-90b8-c66c112861e0
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 9a10a39c494891e989f793979e6b5857
    body:
      encoding: UTF-8
      string: '{"next_offset":-1,"records":[{"id":"784fce64-1bb0-11ec-befc-0241d1fb84dd","name":"Doe
        John","date_entered":"2021-09-22T10:22:08-04:00","date_modified":"2021-10-04T13:23:59-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"salutation":"","first_name":"Doe","last_name":"John","full_name":"Doe
        John","title":"","facebook":"","twitter":"","googleplus":"","department":"","do_not_call":false,"phone_home":"","phone_mobile":"(202)
        111-1119","phone_work":"","phone_other":"","phone_fax":"","primary_address_street":"","primary_address_street_2":"","primary_address_street_3":"","primary_address_city":"","primary_address_state":"","primary_address_postalcode":"","primary_address_country":"","alt_address_street":"","alt_address_street_2":"","alt_address_street_3":"","alt_address_city":"","alt_address_state":"","alt_address_postalcode":"","alt_address_country":"","assistant":"","assistant_phone":"","picture":"","email_and_name1":"","lead_source":"","account_name":"Doe
        John","accounts":{"name":"Doe John","id":"776d2280-1bb0-11ec-ab3a-0241d1fb84dd","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"account_id":"776d2280-1bb0-11ec-ab3a-0241d1fb84dd","dnb_principal_id":"","opportunity_role_fields":"","opportunities":{"id":""},"opportunity_role_id":"","opportunity_role":"","reports_to_id":"","report_to_name":"","reports_to_link":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"birthdate":"1972-04-04","portal_name":"","portal_active":false,"portal_password":null,"portal_password1":null,"portal_app":"","portal_user_company_name":"","preferred_language":"","cookie_consent":false,"cookie_consent_received_on":"","business_center_name":"","business_centers":{"name":"","id":"","_acl":{"fields":[],"access":"no","view":"no","list":"no","edit":"no","delete":"no","import":"no","export":"no","massupdate":"no","_hash":"3fd204ac1b6d951752c529c51f978bc3"}},"business_center_id":"","dp_business_purpose":[],"dp_consent_last_updated":"2021-09-22","campaign_id":"","campaign_name":"","campaign_contacts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"c_accept_status_fields":"","calls":{"id":""},"m_accept_status_fields":"","meetings":{"id":""},"accept_status_id":"","accept_status_name":"","accept_status_calls":"","accept_status_meetings":"","sync_contact":false,"mkto_sync":false,"mkto_id":null,"mkto_lead_score":null,"entry_source":"internal","site_user_id":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example3@example.com","primary_address":true,"reply_to_address":false,"invalid_email":false,"opt_out":false,"email_address_id":"4b2c2722-18de-11ec-8761-0241d1fb84dd"}],"email1":"example3@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","gender_c":"male","relationship_c":"Self","hbxid_c":"100z01","_acl":{"fields":{}},"_module":"Contacts"}]}'
  recorded_at: Mon, 04 Oct 2021 20:05:26 GMT
[...]
- request:
    method: put
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts/784fce64-1bb0-11ec-befc-0241d1fb84dd
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"100z01","first_name":"Doe","last_name":"John","phone_mobile":"(202)
        111-1119","email1":"example3@example.com","birthdate":"1972-04-04","relationship_c":"Self","account_id":"776d2280-1bb0-11ec-ab3a-0241d1fb84dd"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bear[...]
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts?filter%5B%5D%5Bhbxid_c%5D=b7bfbc6b58f340169de7f0772e88230f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cf951591-eb09-466c-b035-a9c00d86353f
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - a7077739fceaf1e4277e01ecd7fcbf48
    body:
      encoding: UTF-8
      stri[...]
[...]
