---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"80029b81-ae09-4fba-a101-7413bb292d62","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"25c75d7e-75d7-4ffa-a651-70d6223fb788","refresh_expires_in":1209600,"download_token":"0ef9cbbf-97a1-46d8-82cf-09e67a061c33"}'
  recorded_at: Mon, 13 Sep 2021 22:01:26 GMT
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?filter%5B%5D%5Bhbxid_c%5D=aa918614ae014d42bb8547a1ae5734e1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 80029b81-ae09-4fba-a101-7413bb292d62
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 5d0cf03cd35880151b2f59eae817b564
    body:
      encoding: UTF-8
      string: '{"records":[],"next_offset":-1}'
  recorded_at: Mon, 13 Sep 2021 22:01:26 GMT
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?hbxid_c=aa918614ae014d42bb8547a1ae5734e1&name=John+Smith1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 80029b81-ae09-4fba-a101-7413bb292d62
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"24177e4c-14de-11ec-8b2e-0241d1fb84dd","name":"John Smith1","date_entered":"2021-09-13T18:01:26-04:00","date_modified":"2021-09-13T18:01:26-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"facebook":"","twitter":"","googleplus":"","account_type":"","industry":"","annual_revenue":"","phone_fax":"","billing_address_street":"","billing_address_street_2":"","billing_address_street_3":"","billing_address_street_4":"","billing_address_city":"","billing_address_state":"","billing_address_postalcode":"","billing_address_country":"","rating":"","phone_office":"","phone_alternate":"","website":"","ownership":"","employees":"","ticker_symbol":"","shipping_address_street":"","shipping_address_street_2":"","shipping_address_street_3":"","shipping_address_street_4":"","shipping_address_city":"","shipping_address_state":"","shipping_address_postalcode":"","shipping_address_country":"","service_level":"","parent_id":"","sic_code":"","duns_num":"","parent_name":"","member_of":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"campaign_id":"","campaign_name":"","campaign_accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"next_renewal_date":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[],"email1":"","email2":"","invalid_email":"","email_opt_out":"","email_addresses_non_primary":"","raw_ssn_c":"","last_ea_action_at_c":"","dob_c":"","broker_c":"","next_best_action_c":"","hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","ssn_c":"XXX-XX-","last_ea_action_c":"","enroll_account_link_c":"","_acl":{"fields":{}},"_module":"Accounts"}'
  recorded_at: Mon, 13 Sep 2021 22:01:26 GMT
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts?&account.id%5B_module%5D=Accounts&account.id%5Baccount_type%5D=&account.id%5Bannual_revenue%5D=&account.id%5Bassigned_user_id%5D=&account.id%5Bassigned_user_link%5D%5B_acl%5D%5B_hash%5D=654d337e0e912edaa00dbb0fb3dc3c17&account.id%5Bassigned_user_link%5D%5B_acl%5D%5Bfields%5D%5B%5D&account.id%5Bassigned_user_link%5D%5Bfull_name%5D=&account.id%5Bassigned_user_link%5D%5Bid%5D=&account.id%5Bassigned_user_nam[...]
