---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"be7984b1-d638-4088-b899-5ef40019447d","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"962c44ac-cdd1-41e2-a34f-9bea14cce01c","refresh_expires_in":1209600,"download_token":"a6c2d0ab-8ae1-4cad-9bbd-20a2b598cc2a"}'
  recorded_at: Mon, 01 Nov 2021 19:29:42 GMT
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?filter%5B%5D%5Bhbxid_c%5D=d365a18b1db041efb2da379786701e20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer be7984b1-d638-4088-b899-5ef40019447d
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 5d0cf03cd35880151b2f59eae817b564
    body:
      encoding: UTF-8
      string: '{"records":[],"next_offset":-1}'
  recorded_at: Mon, 01 Nov 2021 19:29:42 GMT
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?filter%5B%5D%5Bhbxid_c%5D=c8497731d13c4204ab2323422f275fcf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d14215e4-8954-45c7-91a7-979bdabfbd25
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - e3e5e95821fe28e5ccabc026bd893e2e
    body:
      encoding: UTF-8
      string: '{"next_offset":-1,"records":[{"id":"324974a2-3b49-11ec-92ca-0241d1fb84dd","name":"John
        Smith4","date_entered":"2021-11-01T15:23:30-04:00","date_modified":"2021-11-01T15:23:30-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"facebook":"","twitter":"","googleplus":"","account_type":"","industry":"","annual_revenue":"","phone_fax":"","billing_address_street":"1119
        Awesome Street NE\n#119","billing_address_street_2":"","billing_address_street_3":"","billing_address_street_4":"","billing_address_city":"Washington","billing_address_state":"ME","billing_address_postalcode":"01001","billing_address_country":"","rating":"","phone_office":"(202)
        111-1119","phone_alternate":"","website":"","ownership":"","employees":"","ticker_symbol":"","shipping_address_street":"","shipping_address_street_2":"","shipping_address_street_3":"","shipping_address_street_4":"","shipping_address_city":"","shipping_address_state":"","shipping_address_postalcode":"","shipping_address_country":"","service_level":"","parent_id":"","sic_code":"","duns_num":"","parent_name":"","member_of":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"campaign_id":"","campaign_name":"","campaign_accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"next_renewal_date":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example7@example.com","primary_address":true,"reply_to_address":false,"invalid_email":false,"opt_out":false,"email_address_id":"05d7baca-1676-11ec-806a-0241d1fb84dd"}],"email1":"example7@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","raw_ssn_c":"703782695","last_ea_action_at_c":"","dob_c":"1972-04-04","broker_c":"","next_best_action_c":"","hbxid_c":"c8497731d13c4204ab2323422f275fcf","last_ea_action_c":"","enroll_account_link_c":"http:\/\/127.0.0.1:3000\/exchanges\/agents\/resume_enrollment?person_id=6164898bf0f6c21c3e786dcb","ssn_c":"XXX-XX-2695","opt_out_of_emails_c":false,"_acl":{"fields":{}},"_module":"Accounts"}]}'
  recorded_at: Mon, 01 Nov 2021 19:29:42 GMT
[...]
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"d365a18b1db041efb2da379786701e20","name":"John Smith1","email1":"example1@example.com","billing_address_street":"1111
        Awesome Street NE","billing_address_street_2":"#111","billing_address_street_3":"","billing_address_street_4":null,"billing_address_city":"Washington","billing_address_postalcode":"01001","billing_address_state":"ME","phone_office":"(202)
        111-1111","raw_ssn_c":"728724402","rawssn_c":"728724402","dob_c":"1972-04-04"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer e427e295-13d5-477f-bc89-a48afe2fc30f
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"10620c5e-3b4a-11ec-b898-0241d1fb84dd","name":"John Smith1","date_entered":"2021-11-01T15:29:42-04:00","date_modified":"2021-11-01T15:29:42-04:00","modified_user_id"[...]
[...]
- request:
    method: put
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts/324974a2-3b49-11ec-92ca-0241d1fb84dd
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"c8497731d13c4204ab2323422f275fcf","name":"John Smith4","email1":"example7@example.com","billing_address_street":"1119
        Awesome Street NE","billing_address_street_2":"#119","billing_address_street_3":"","billing_address_street_4":null,"billing_address_city":"Washington","billing_address_postalcode":"01001[...]
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts?filter%5B%5D%5Bhbxid_c%5D=c8497731d13c4204ab2323422f275fcf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer be312215-5eb5-4c74-8f5e-7d53b3f33c81
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 5d0cf03cd35880151b2f59eae817b564
    body:
      encoding: UTF-8
      string: '{"records":[],"next_offset":-1}'
  recorded_at: Mon, 01 Nov 2021 19:29:44 GMT
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts
    body:
      encoding: UTF-8
      string: '{"enroll_account_link_c":"http://127.0.0.1:3000/exchanges/agents/resume_enrollment?person_id=616874e6f0f6c22fd78a6111","hbxid_c":"d365a18b1db041efb2da379786701e20","first_name":"John","last_name":"Smith1","phone_mobile":"(202)
        111-1111","email1":"example1@example.com","birthdate":"1972-04-04","relationship_c":"Self","account_id":{"id":"10620c5e-3b4a-11ec-b898-0241d1fb84dd","name":"John
        Smith1","date_entered":"2021-11-01T15:29:42-04:00","date_modified":"2021-11-01T15:29:42-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf7806[...]
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts?filter%5B%5D%5Bhbxid_c%5D=73018c3b05824fc7abd40d3f41973765
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fd663eca-21a6-44fe-bafa-6dcabba231c2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 9db95b895927d5e6a9ecdaea442c4bbd
    body:
      encoding: UTF-8
      string: '{"next_offset":-1,"records":[{"id":"9a98961a-1654-11ec-b13b-0241d1fb84dd","name":"Doe
        John","date_entered":"2021-09-15T14:41:56-04:00","date_modified":"2021-11-01T15:27:37-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"salutation":"","first_name":"Doe","last_name":"John","full_name":"Doe
        John","title":"","facebook":"","twitter":"","googleplus":"","department":"","do_not_call":false,"phone_home":"","phone_mobile":"(202)
        111-1111","phone_work":"","phone_other":"","phone_fax":"","primary_address_street":"","primary_address_street_2":"","primary_address_street_3":"","primary_address_city":"","primary_address_state":"","primary_address_postalcode":"","primary_address_country":"","alt_address_street":"","alt_address_street_2":"","alt_address_street_3":"","alt_address_city":"","alt_address_state":"","alt_address_postalcode":"","alt_address_country":"","assistant":"","assistant_phone":"","picture":"","email_and_name1":"","lead_source":"","account_name":"","accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"account_id":"","dnb_principal_id":"","opportunity_role_fields":"","opportunities":{"id":""},"opportunity_role_id":"","opportunity_role":"","reports_to_id":"","report_to_name":"","reports_to_link":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"birthdate":"1972-04-04","portal_name":"","portal_active":false,"portal_password":null,"portal_password1":null,"portal_app":"","portal_user_company_name":"","preferred_language":"","cookie_consent":false,"cookie_consent_received_on":"","business_center_name":"","business_centers":{"name":"","id":"","_acl":{"fields":[],"access":"no","view":"no","list":"no","edit":"no","delete":"no","import":"no","export":"no","massupdate":"no","_hash":"3fd204ac1b6d951752c529c51f978bc3"}},"business_center_id":"","dp_business_purpose":[],"dp_consent_last_updated":"2021-09-15","campaign_id":"","campaign_name":"","campaign_contacts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"c_accept_status_fields":"","calls":{"id":""},"m_accept_status_fields":"","meetings":{"id":""},"accept_status_id":"","accept_status_name":"","accept_status_calls":"","accept_status_meetings":"","sync_contact":false,"mkto_sync":false,"mkto_id":null,"mkto_lead_score":null,"entry_source":"internal","site_user_id":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example1@example.com","primary_address":true,"reply_to_address":false,"invalid_email":false,"opt_out":false,"email_address_id":"3f48f0fa-163d-11ec-ae61-0241d1fb84dd"}],"email1":"example1@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","gender_c":"male","relationship_c":"Self","hbxid_c":"73018c3b05824fc7abd40d3f41973765","_acl":{"fields":{}},"_module":"Contacts"}]}'
  recorded_at: Mon, 01 Nov 2021 19:30:45 GMT
[...]
- request:
    method: put
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts/9a98961a-1654-11ec-b13b-0241d1fb84dd
    body:
      encoding: UTF-8
      string: '{"enroll_account_link_c":null,"hbxid_c":"73018c3b05824fc7abd40d3f41973765","first_name":"Doe","last_name":"John","phone_mobile":"(202)
        111-1111","email1":"example1@example.com","birthdate":"1972-04-04","relationship_c":"Self"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - B[...]
