---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=refresh_token&refresh_token=01e7b6b0-3b5d-4dbc-8f56-60149fcc668a
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"a39cb072-025f-4e98-be62-a33ad462c483","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"4d98e02d-7c65-4760-96f1-6645ec780581","refresh_expires_in":1209600,"download_token":"bac495f1-0442-488b-b89b-408bb0c5b4ff"}'
  recorded_at: Wed, 15 Sep 2021 22:47:37 GMT
recorded_with: VCR 6.0.0
