---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=refresh_token&refresh_token=537be5a4-4422-4c45-a931-f1beef38ab9e
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"2795db48-db66-485b-886a-727f1f4ad90c","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"e55797c3-bc5f-46e4-9c57-64d6df60f6a6","refresh_expires_in":1209600,"download_token":"45dc559c-6b83-4199-871f-d4eadcb7054b"}'
  recorded_at: Wed, 15 Sep 2021 18:24:05 GMT
recorded_with: VCR 6.0.0
