---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=refresh_token&refresh_token=ab38e436-4858-4882-a833-38db11dd28d2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"f5c8f6e3-a6e9-4452-a1cf-d47df247d29a","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"db863b14-5547-4895-9446-902cbe55ad51","refresh_expires_in":1209600,"download_token":"5eb5f190-3069-4491-9052-1a374a8b7bc0"}'
  recorded_at: Tue, 14 Sep 2021 18:39:37 GMT
recorded_with: VCR 6.0.0
