---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=refresh_token&refresh_token=1ad4d49a-ee9a-47ac-81f1-f3232436a6c1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"56f04c39-9625-44ce-b051-3b242f1677d9","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"05094e1f-93fa-4d10-95e3-d71e081aa914","refresh_expires_in":1209600,"download_token":"ccfc7d9f-cbc0-4b50-a5e8-da79ecd275b6"}'
  recorded_at: Thu, 16 Sep 2021 16:39:47 GMT
recorded_with: VCR 6.0.0
