---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?hbxid_c=123&name=John+Jacob
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 21ec24cc-1171-4aff-87de-d47ba04e13c1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"1a427c98-158b-11ec-aaf4-0241d1fb84dd","name":"John Jacob","date_entered":"2021-09-14T14:39:32-04:00","date_modified":"2021-09-14T14:39:32-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"facebook":"","twitter":"","googleplus":"","account_type":"","industry":"","annual_revenue":"","phone_fax":"","billing_address_street":"","billing_address_street_2":"","billing_address_street_3":"","billing_address_street_4":"","billing_address_city":"","billing_address_state":"","billing_address_postalcode":"","billing_address_country":"","rating":"","phone_office":"","phone_alternate":"","website":"","ownership":"","employees":"","ticker_symbol":"","shipping_address_street":"","shipping_address_street_2":"","shipping_address_street_3":"","shipping_address_street_4":"","shipping_address_city":"","shipping_address_state":"","shipping_address_postalcode":"","shipping_address_country":"","service_level":"","parent_id":"","sic_code":"","duns_num":"","parent_name":"","member_of":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"campaign_id":"","campaign_name":"","campaign_accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"next_renewal_date":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[],"email1":"","email2":"","invalid_email":"","email_opt_out":"","email_addresses_non_primary":"","raw_ssn_c":"","last_ea_action_at_c":"","dob_c":"","broker_c":"","next_best_action_c":"","hbxid_c":"123","ssn_c":"XXX-XX-","last_ea_action_c":"","enroll_account_link_c":"","_acl":{"fields":{}},"_module":"Accounts"}'
  recorded_at: Tue, 14 Sep 2021 18:39:33 GMT
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts?filter%5B%5D%5Bhbxid_c%5D=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 21ec24cc-1171-4aff-87de-d47ba04e13c1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - 7b0f4b2d4f93193ba930be06531e7511
    body:
      encoding: UTF-8
      string: '{"next_offset":20,"records":[{"id":"1a427c98-158b-11ec-aaf4-0241d1fb84dd","name":"John
        Jacob","date_entered":"2021-09-14T14:39:32-04:00","date_modified":"2021-09-14T14:39:32-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf7806[...]
- request:
    method: put
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts/1a427c98-158b-11ec-aaf4-0241d1fb84dd?name=Tim+Robinson
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 21ec24cc-1171-4aff-87de-d47ba04e13c1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"1a427c98-158b-11ec-aaf4-0241d1fb84dd","name":[...]
