---
http_interactions:
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=sugar&client_secret=&grant_type=password&params%5Bgrant_type%5D=password&params%5Bpassword%5D=SUGAR_CRM_ENCODED_PASSWORD>&params%5Bplatform%5D=mobile&params%5Busername%5D=<SUGAR_CRM_USERNAME>&password=SUGAR_CRM_ENCODED_PASSWORD>&username=<SUGAR_CRM_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"220e8ab7-a6ae-4c6a-b2d0-20c0133392ed","expires_in":3600,"token_type":"bearer","scope":null,"refresh_token":"cd8c8b7a-51b3-481d-ac94-e916b7e5ddf0","refresh_expires_in":1209600,"download_token":"5467bdcd-bfda-4783-8f2d-7168dff46590"}'
  recorded_at: Mon, 04 Oct 2021 20:04:53 GMT
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Accounts
    body:
      encoding: UTF-8
      string: '{"hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","name":"John Smith1","email1":"example1@example.com","billing_address_street":"1111
        Awesome Street NE","billing_address_street_2":"#111","billing_address_street_3":"","billing_address_street_4":null,"billing_address_city":"Washington","billing_address_postalcode":"01001","billing_address_state":"DC","phone_office":"(202)
        103-0404","raw_ssn_c":"775481172","rawssn_c":"775481172","dob_c":"1981-09-14"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 220e8ab7-a6ae-4c6a-b2d0-20c0133392ed
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"570840c2-254e-11ec-ac06-0241d1fb84dd","name":"John Smith1","date_entered":"2021-10-04T16:04:53-04:00","date_modified":"2021-10-04T16:04:53-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"facebook":"","twitter":"","googleplus":"","account_type":"","industry":"","annual_revenue":"","phone_fax":"","billing_address_street":"1111
        Awesome Street NE\n#111","billing_address_street_2":"","billing_address_street_3":"","billing_address_street_4":"","billing_address_city":"Washington","billing_address_state":"DC","billing_address_postalcode":"01001","billing_address_country":"","rating":"","phone_office":"(202)
        103-0404","phone_alternate":"","website":"","ownership":"","employees":"","ticker_symbol":"","shipping_address_street":"","shipping_address_street_2":"","shipping_address_street_3":"","shipping_address_street_4":"","shipping_address_city":"","shipping_address_state":"","shipping_address_postalcode":"","shipping_address_country":"","service_level":"","parent_id":"","sic_code":"","duns_num":"","parent_name":"","member_of":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"campaign_id":"","campaign_name":"","campaign_accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"next_renewal_date":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example1@example.com","invalid_email":false,"opt_out":false,"email_address_id":"3f48f0fa-163d-11ec-ae61-0241d1fb84dd","primary_address":true,"reply_to_address":false}],"email1":"example1@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","raw_ssn_c":"775481172","last_ea_action_at_c":"","dob_c":"1981-09-14","broker_c":"","next_best_action_c":"","hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","last_ea_action_c":"","enroll_account_link_c":"","ssn_c":"XXX-XX-1172","opt_out_of_emails_c":false,"_acl":{"fields":{}},"_module":"Accounts"}'
  recorded_at: Mon, 04 Oct 2021 20:04:54 GMT
[...]
- request:
    method: post
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts
    body:
      encoding: UTF-8
      string: '{"enroll_account_link_c":null,"hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","first_name":"John","last_name":"Smith1","phone_mobile":"(202)
        103-0404","email1":"example1@example.com","birthdate":"1981-09-14","relationship_c":"Self"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 99d28d4b-7dec-457f-9d22-35db134c4e51
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"57c47ec2-254e-11ec-9c69-0241d1fb84dd","name":"John Smith1","date_entered":"2021-10-04T16:04:55-04:00","date_modified":"2021-10-04T16:04:55-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"created_by":"d09fe726-feb8-11eb-a595-0241d1fb84dd","created_by_name":"Bill
        Transue","created_by_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780699c2"}},"description":"","deleted":false,"salutation":"","first_name":"John","last_name":"Smith1","full_name":"John
        Smith1","title":"","facebook":"","twitter":"","googleplus":"","department":"","do_not_call":false,"phone_home":"","phone_mobile":"(202)
        103-0404","phone_work":"","phone_other":"","phone_fax":"","primary_address_street":"","primary_address_street_2":"","primary_address_street_3":"","primary_address_city":"","primary_address_state":"","primary_address_postalcode":"","primary_address_country":"","alt_address_street":"","alt_address_street_2":"","alt_address_street_3":"","alt_address_city":"","alt_address_state":"","alt_address_postalcode":"","alt_address_country":"","assistant":"","assistant_phone":"","picture":"","email_and_name1":"","lead_source":"","account_name":"","accounts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"account_id":"","dnb_principal_id":"","opportunity_role_fields":"","opportunities":{"id":""},"opportunity_role_id":"","opportunity_role":"","reports_to_id":"","report_to_name":"","reports_to_link":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"birthdate":"1981-09-14","portal_name":"","portal_active":false,"portal_password":null,"portal_password1":null,"portal_app":"","portal_user_company_name":"","preferred_language":"","cookie_consent":false,"cookie_consent_received_on":"","business_center_name":"","business_centers":{"name":"","id":"","_acl":{"fields":[],"access":"no","view":"no","list":"no","edit":"no","delete":"no","import":"no","export":"no","massupdate":"no","_hash":"3fd204ac1b6d951752c529c51f978bc3"}},"business_center_id":"","dp_business_purpose":[],"dp_consent_last_updated":"2021-10-04","campaign_id":"","campaign_name":"","campaign_contacts":{"name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"c_accept_status_fields":"","calls":{"id":""},"m_accept_status_fields":"","meetings":{"id":""},"accept_status_id":"","accept_status_name":"","accept_status_calls":"","accept_status_meetings":"","sync_contact":false,"mkto_sync":false,"mkto_id":null,"mkto_lead_score":null,"entry_source":"internal","site_user_id":"","following":true,"my_favorite":false,"tag":[],"locked_fields":[],"assigned_user_id":"","assigned_user_name":"","assigned_user_link":{"full_name":"","id":"","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_count":"","team_count_link":{"team_count":"","id":"1","_acl":{"fields":[],"_hash":"654d337e0e912edaa00dbb0fb3dc3c17"}},"team_name":[{"id":"1","name":"Global","name_2":"","primary":true,"selected":false}],"email":[{"email_address":"example1@example.com","invalid_email":false,"opt_out":false,"email_address_id":"3f48f0fa-163d-11ec-ae61-0241d1fb84dd","primary_address":true,"reply_to_address":false}],"email1":"example1@example.com","email2":"","invalid_email":false,"email_opt_out":false,"email_addresses_non_primary":"","gender_c":"male","relationship_c":"Self","hbxid_c":"aa918614ae014d42bb8547a1ae5734e1","_acl":{"fields":{}},"_module":"Contacts"}'
  recorded_at: Mon, 04 Oct 2021 20:04:55 GMT
[...]
- request:
    method: get
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts?filter%5B%5D%5Bhbxid_c%5D=aa918614ae014d42bb8547a1ae5734e1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2c1adee5-2fdf-48bd-8cfb-96dc10acbde5
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - c726c252d1bb7bd71c3e1f110fe506d6
    body:
      encoding: UTF-8
      string: '{"next_offset":20,"records":[{"id":"57c47ec2-254e-11ec-9c69-0241d1fb84dd","name":"John
        Smith1","date_entered":"2021-10-04T16:04:55-04:00","date_modified":"2021-10-04T16:04:55-04:00","modified_user_id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","modified_by_name":"Bill
        Transue","modified_user_link":{"full_name":"Bill Transue","id":"d09fe726-feb8-11eb-a595-0241d1fb84dd","_acl":{"fields":{"pwd_last_changed":{"write":"no","create":"no"},"last_login":{"write":"no","create":"no"}},"_hash":"6d408abe1708e7afd72eaecf780[...]
[...]
- request:
    method: put
    uri: https://sandbox-crm.cme.openhbx.org/rest/v11_8/Contacts/57c47ec2-254e-11ec-9c69-0241d1fb84dd
    body:
      encoding: UTF-8
      string: '{"hbx_id":"aa918614ae014d42bb8547a1ae5734e1","person_name":{"first_name":"John","middle_name":null,"last_name":"Smith1","name_sfx":null,"name_pfx":null,"full_name":"John
        Smith1","alternate_name":null},"person_demographics":{"ssn":"775481172","no_ssn":false,"gender":"male","dob":"1981-09-14","date_of_death":null,"dob_check":null,"is_incarcerated":true,"ethnicity":null,"race":null,"tribal_id":null,"language_code":null},"person_health":{"is_tobacco_user":"unknown","is_physically_disabled":null},"is_active":true,"is_disabled":false,"no_dc_address":false,"no_dc_address_reason":null,"is_homeless":false,"is_temporarily_out_of_state":false,"age_off_excluded":false,"is_applying_for_assistance":null,"person_relationships":[],"consumer_role":{"five_year_bar":false,"requested_coverage_start_date":"15-Sep-2021","aasm_state":"unverified","is_applicant":true,"birth_location":null,"marital_status":null,"is_active":true,"is_applying_coverage":true,"bookmark_url":null,"admin_bookmark_url":null,"contact_method":"mail","language_preference":"English","is_state_resident":true,"identity_validation":"na","identity_update_reason":null,"application_validation":"na","application_update_reason":null,"identity_rejected":false,"application_rejected":false,"documents":[],"vlp_documents":[],"ridp_documents":[],"verification_type_history_elements":[],"lawful_presence_determination":{"vlp_verified_at":null,"vlp_authority":null,"vlp_document_id":null,"citizen_status":"us_citizen","citizenship_result":null,"qualified_non_citizenship_result":null,"aasm_state":"verification_pending","ssa_responses":[],"ssa_requests":[],"vlp_responses":[],"vlp_requests":[]},"local_residency_responses":[],"local_residency_requests":[]},"resident_role":null,"individual_market_transitions":[],"verification_types":[],"user":null,"broker_role":null,"addresses":[{"kind":"home","address_1":"1111
        Awesome Street NE","address_2":"#111","address_3":"","city":"Washington","county":"Hampden","state":"DC","zip":"01001","country_name":"United
        States of America","has_fixed_address":true},{"kind":"home","address_1":"1112
        Awesome Street NE","address_2":"#112","address_3":"","city":"Washington","county":"Hampden","state":"DC","zip":"01001","country_name":"United
        States of America","has_fixed_address":true}],"phones":[{"kind":"home","country_code":"","area_code":"202","number":"1030404","extension":"","primary":null,"full_phone_number":"2021030404"}],"emails":[{"kind":"home","address":"example1@example.com"},{"kind":"home","address":"example2@example.com"}],"documents":[],"timestamp":{"created_at":"2021-09-15
        10:51:46 -0400","modified_at":"2021-09-15 10:51:46 -0400"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 84862f33-b0f4-4f84-8113-7f89873628fa
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"57c47ec2-254e-11ec-9c69-0241d1fb84dd","name":"John Smith1","date_entered":"2021-10-04T16:04:55-04:00","date_modified":"2021-10-04T16:04:56-04:00","modified_user_id":"d0[...]
